/* .card-div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100px;
    height: 100px;
    background-color: #ffb5b5;
    color: aquamarine;
}


.cardBody{
    display: flex;
    flex-direction: row;
    width: auto;
    height: auto;
}


.crd-tittle{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
} */

/* 
.card-div {
    display: flex;
    flex-direction: row;
    
    width: 100wh;
    height: 100px;
    background-color: #ffb5b5;
    
} */

/* .sentiment {
    display: flex;
    flex-direction: column;
} */