/* .Home {
  background: rgb(13, 18, 44);
  display: flex;
  height: 800px;
  padding-top: 80px;
  position: relative;
  text-align: center;
}

.Home .Container {
  position: absolute;
  top: 40%;
  left: 2%;
  color: white;
}

.Home .Container .tittle {
  font-size: calc(1.7rem + 3vw);
}

.Home .Container h1 {
  margin: 0;
}
.Home .Code {
  position: absolute;
  right: 5%;
  top: 37%;
  width: 60%;
  max-width: 500px;
  height: 30%;
}

@media (max-width: 768px) {
  .Home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .Home .Code {
    align-items: center;
    width: 50%;
  }
} */
