.g-main {
    height: 100vh;
    background: rgb(13, 18, 44);
}


.games-reviews-div {
    /* background: rgb(115, 127, 187); */
    height: 500px;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
	align-items: center;
}

/* ========================== table =============================== */

.table-div {
    position: relative;
    top: 160px;
    background-color: rgb(255, 255, 255);
    /* opacity: 0.1; */
    width: 70vw;
    height: 600px;
    color: rgb(0, 0, 0);
    overflow-y: auto;
    border-radius: 10px;
    bottom: 5%;
}
/* .table-content {
    width: 100%;
    
} */



/* ==================== sentiment overall details ========================== */

.content {
    position: relative;
    top: 40px;
    /* background-color: rgb(77, 77, 77); */
    width: 60%;
    /* height: 100vh; */
    border-radius: 10px;
}