/* .Contact {
  background-color: darkorchid;
  height: 30vh;
  display: flex;
  align-items: center;
}

.Contact .ContactIcons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.Contact .ContactIcons svg {
  cursor: pointer;
} */
